/* .item{
    background: #000;
    width: 500px;
    height: 600px;
    display: flex;
    justify-content:center;
    align-items: center;
}
.inner-item{
    background: wheat;
    width: 150px;
    height: 150px;

    animation-name: blink;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    
    /* transition: all 2s; */
    /* animation-fill-mode: forwards;
    animation-direction: alternate;
    
    animation-timing-function: cubic-bezier(0, 0.82, 0.165, 1); */
/* } */


/* @keyframes blink { */
    /* 0%{ */
        /* transform: rotate(0deg); */
        /* transform: rotate(180deg) translate(0, 0); */
        /* transform: perspective(20px); */
    /* } */
    /* 50%{ */
        /* transform: translate(50px, 0px); */
    /* } */
    /* 100%{ */
        
        /* transform: translate(-50px, -0); */
        /* transform: perspective(50px); */
    /* } */
/* } */ 
